container {
    width: 1000px;
}

#header {
    text-align: center;
    padding: 20px;
}

#start-section {
    text-align: center;
    padding: 20px;
}

#question-one, #question-two, #question-three, #question-four {
    text-align: center;
    padding: 20px;
}

#answers {
    text-align: center;
    padding: 20px;
}

ol {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }