container {
    width: 1000px;
}

header {
    text-align: center;
    padding: 20px;
}



#question-one, #question-two, #question-three, #question-four {
    text-align: center;
    padding: 20px;
}



ol {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#button {
    text-align: center;
    display: inline-block;
}
